$rem: 18;

$base-font-size: $rem !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($value, $context: $base-font-size) {
  $target: strip-unit($value);
  $base: strip-unit($context);
  @return $target / $base + rem
}

.center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}