* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 20rem;
  margin: 0 auto;
  font-size: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h3,h4,h5,p {
  margin: 0;
}

img {
  width:100%;
  vertical-align: top;
  pointer-events: none;/*禁用长按保存图片*/ 
}

a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  display: inline-block;
}

span {
  display: inline-block;
}
