* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 20rem;
  margin: 0 auto;
  font-size: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}

.center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}